*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.fundo{
    background-color: black;
    color: #b2b2b2;
    width: 500px;
    height: 140px;
    padding: 30px;
    border-radius: 5px;
    margin-bottom: 30px;
}

h2 , .titulo-amarelo{
    display: inline;
}

h2{
    color: white;
    font-size: 25px;
}

.titulo-amarelo{
    color: #4970da;
    font-size: 25px;
    font-weight: 1000px;
}

.titulo{
    margin-bottom: 25px;
}



.texto p{
    display: inline;
}

.texto{
    margin-top: 25px;
    margin-bottom: 25px;
}

.amarelo{
    color: #4970da;;
}

.botao1{
    display: block;
    background-color: #4970da;;
    border-radius: 3px;
    text-decoration: none;
    width: 120px;
    color: #2e2e2e;
    padding: 6px 0;
    text-align: center;
}
.botao2{
    display: block;
    background-color: #4970da;;
    border-radius: 3px;
    text-decoration: none;
    width: 140px;
    color: #2e2e2e;
    padding: 6px 0;
    text-align: center;
}

.botao a {
    text-align: center;
}


header{
    text-align: center;
}

article{
    width: 800px;
}

.fundo{
    margin: 30px auto;
}

.botao1:hover{
    background-color: #2a4691;;
}

.botao2:hover{
    background-color: #2a4691;
}

.amarelo:hover{
    color: #2a4691;
}

.titulo-amarelo:hover{
    color: #2a4691;
}
